body {
    background-color: #EBDDD4; /* 背景色を淡い青に設定 */
    font-family:ToppanBunkyuMinchoPr6N-Regular;
    color: #544F4C; /* 文字色を濃いグレーに設定 */
    padding-top: 75px; /* 固定ヘッダーの高さ分、上にスペースを確保 */
    font-family: 'Homemade Apple', cursive;
}

a {
    color: #fff; /* リンクの文字色を白に */
    text-decoration: none; /* 下線を消す */
}

img {
    max-width: 100%; /* 親の幅を超えないようにする */
}

.page-header {
    position: fixed; /* スクロールしても固定表示 */
    top: 0; /* 上端に固定 */
    left: 0; /* 左端に固定 */
    width: 100%; /* 幅を画面いっぱいにする */
    height: 75px; /* 高さを75pxに */
    background: #A74b54; /* 背景を白に */
    box-shadow: 0 8px 16px rgba(0,0,0,0.5); /* 下に影を付けて浮き上がらせる */
    z-index: 1000; /* 他の要素より前面に表示 */
    display: flex; /* 子要素を横並びに */
    align-items: center; /* 縦方向中央揃え */
}

.page-header h1 {
    margin: auto; /* デフォルトの余白を無くす */
}

.logo {
    max-height: 40px; /* 高さを最大40pxに制限 */
    width: auto; /* 幅は自動調整 */
    display: block; /* ブロック要素として表示 */
}



.hero-section {
    display: flex; /* 子要素を縦並びにする */
    flex-direction: column; /* 縦方向に並べる */
    align-items: center; /* 中央に揃える */
    padding: 50px 0px 0 0px; /* 上・左右に余白を設定、下は0 */
}

.hero-image {
    width: 90%; /* 横幅を画面の90%に */
    border-radius: 8px; /* 角を少し丸くする */
    margin: 20px 0 0 0; /* 上に余白を取る */
}

.hero-content-container {
    max-width: 400px; /* 最大幅を400pxに制限 */
    width: 90%; /* 画面幅の90%まで広げる */
    text-align: center; /* テキストを中央揃えに */
}

.heading {
  -webkit-text-stroke: 2px #ffffff;
  text-shadow: 4px 4px #e5c046;
  color: #00000075;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}
